.project,
.authors {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 90%;
  margin: 0.5rem auto;
  color: #232c33;
}

.authors {
  padding: 2rem;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.project__main {
  padding: 1rem;
}

.nav__item {
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #232c33;
  font-size: 1rem;
  font-weight: 500;
}

.nav__item:hover,
.nav__item:focus {
  background-color: #d5dfe5;
  color: #ee003c;
}

.project__title,
.authors__title {
  color: #ee003c;
  font-weight: 800;
  margin: 2rem;
}

.project__logo {
  width: 5rem;
  margin-top: 2rem;
}

.author {
  margin: 2rem 0;
}

.author__img {
  max-width: 15rem;
}

@media screen and (min-width: 700px) {
  .project,
  .authors {
    width: 35em;
    margin: 3rem auto;
    box-shadow: 1px 1px 10px rgba(163, 163, 163, 0.1);
  }

  .project__main {
    padding: 0 3rem 3rem;
  }

  .nav__item {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
